table
{
	border: 0px;               /* border="0" */
	border-collapse: collapse; /* cellspacing="0" */
}

table td
{
	padding: 0px; /* cellpadding="0" */
}

#page
{
	width: 1100px;
	margin: 0 auto;
}

#pageContentGrid
{
	width: 100%;
}

#header
{
	background: white;
	width: 1100px;
	height: 150px;
}

#content
{
	width: 100%;
}

#mainContent
{
	width: 100%;
	height: 100%;
}

#footer
{
	background: #EBEBEB;
	width: 1100px;
	height: 100px;
}

/* Width Classes ---------------------------------------------------------------------------------------------------- */

.width0pr
{
	width: 0;
}

.width5pr
{
	width: 5%;
}

.width10pr
{
	width: 10%;
}

.width15pr
{
	width: 15%;
}

.width20pr
{
	width: 20%;
}

.width25pr
{
	width: 25%;
}

.width30pr
{
	width: 30%;
}

.width35pr
{
	width: 35%;
}

.width40pr
{
	width: 40%;
}

.width45pr
{
	width: 45%;
}

.width50pr
{
	width: 50%;
}

.width55pr
{
	width: 55%;
}

.width60pr
{
	width: 60%;
}

.width65pr
{
	width: 65%;
}

.width70pr
{
	width: 70%;
}

.width75pr
{
	width: 75%;
}

.width80pr
{
	width: 80%;
}

.width85pr
{
	width: 85%;
}

.width90pr
{
	width: 90%;
}

.width90pr
{
	width: 95%;
}

.width100pr
{
	width: 100%;
}

/* Height Classes ---------------------------------------------------------------------------------------------------- */

.height2px
{
	height: 2px;
}

.height40px
{
	height: 40px;
}

.height110px
{
	height: 110px;
}

.height0pr
{
	height: 0;
}

.height5pr
{
	height: 5%;
}

.height10pr
{
	height: 10%;
}

.height15pr
{
	height: 15%;
}

.height20pr
{
	height: 20%;
}

.height25pr
{
	height: 25%;
}

.height30pr
{
	height: 30%;
}

.height35pr
{
	height: 35%;
}

.height40pr
{
	height: 40%;
}

.height45pr
{
	height: 45%;
}

.height50pr
{
	height: 50%;
}

.height55pr
{
	height: 55%;
}

.height60pr
{
	height: 60%;
}

.height65pr
{
	height: 65%;
}

.height70pr
{
	height: 70%;
}

.height75pr
{
	height: 75%;
}

.height80pr
{
	height: 80%;
}

.height85pr
{
	height: 85%;
}

.height90pr
{
	height: 90%;
}

.height90pr
{
	height: 95%;
}

.height100pr
{
	height: 100%;
}

/* Width-Height Classes --------------------------------------------------------------------------------------------- */

.width100prHeight100pr
{
	width: 100%;
	height: 100%;
}

