#page
{
	width: 1000px;
	margin: 0 auto;
	padding: 0 auto;
}

#pageContentGrid
{
	width: 1000px;
	margin: 0 auto;
	padding: 0 auto;
}

.subAreaLayout
{
	//margin: 5px auto;
	width: 100%;
	//border: 1px solid rgb(0, 32, 128);
}

.subAreaColor
{
	//background-color: rgb(224, 240, 255);
	color: rgb(0, 32, 128);
}

#header
{
	.subAreaLayout;
	.subAreaColor;
	height: 50px;
}

#content
{
	.subAreaLayout;
	.subAreaColor;
	height:500px;
	background-color: rgb(224, 255, 240);
}

#footer
{
	.subAreaLayout;
	.subAreaColor;
	height: 30px;
}

#container
{
	width: 100%;
	height: 100%;
	//margin: 0 auto;
	//padding: 20 auto;
	//border: 1px solid rgb(0, 32, 128);
}
