<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC
	"-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h ="http://java.sun.com/jsf/html"
	xmlns:f ="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

  <h:head>
		<!--<h:outputStylesheet name="style.less" library="css"/>-->
		<!--&lt;!&ndash;<h:outputStylesheet name="style.css" library="css" />&ndash;&gt;-->

		<!--<h:outputScript library="primefaces" name="js/less.js" target="head" />-->
		<!--<h:outputScript library="primefaces" name="js/jquery.js" target="head" />-->
  </h:head>

	<h:body>

		<ui:composition template="/templates/commonLayout.xhtml">

			<ui:define name="content">

				<h:form id="formContent">

					<h:panelGroup id="container" layout="block">
						<!--<h:outputText value="CONTENT"/>-->
						<h:graphicImage value="resources/img/main_intro.png" title="YouVote" longdesc="YouVote - Make History Together" alt="YouVote"/>
					</h:panelGroup>

				</h:form>

			</ui:define>

		</ui:composition>
	</h:body>

</html>
