<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC
	"-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h ="http://java.sun.com/jsf/html"
	xmlns:f ="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<h:outputStylesheet name="style.css" library="css" />
	</h:head>

	<h:body>

		<ui:composition>

			<f:loadBundle basename="org.yvmht.web.page_controller.PageText" var="PageText"/>

			<h:form id="formHeader" styleClass="width100prHeight100pr">
				<h:panelGrid id="panelGrid_HeaderLayoutRows" styleClass="width100prHeight100pr" rowClasses="height110px,height2px,height40px">

					<h:panelGrid id="panelGrid_HeaderLayout" style="width: 100%; height: 100%" columns="3" columnClasses="width5pr,width80pr,width5pr" rowClasses="height100pr">

						<h:panelGroup layout="block">
						</h:panelGroup>

						<h:panelGroup id="panelGroup_HeaderTitle" layout="block" style="height: 100%;">
							<h:panelGrid id="panelGrid_HeaderTitle" style="width: 100%; height: 100%;" columns="2" columnClasses="width20pr,width80pr" rowClasses="height100pr">

								<h:panelGroup id="panelGroup_HeaderTitleLogo" layout="block" style="text-align: left; font-size: 50px">
									<h:outputText id="outputText_HeaderTitleLogo" value="#{PageText.title_yv}" style="color: red" rendered="false"/>
									<h:graphicImage value="resources/img/logo.png" title="#{PageText.title_yv}" longdesc="#{PageText.title_yvmht}" alt="#{PageText.title_yv}"/>
								</h:panelGroup>


								<h:panelGroup id="panelGroup_HeaderTitleAndSelectors" layout="block" style="height: 100%;" >
									<h:panelGrid id="panelGrid_HeaderTitleAndSelectors" style="width: 100%; height: 100%;" columns="1" columnClasses="width100pr">

										<h:panelGroup id="panelGroup_HeaderSelectors" layout="block" style="width: 100%; height: 25px;">
											<h:panelGrid id="panelGrid_HeaderSelectors" columns="3" style="width: 100%; height: 100%;" columnClasses="width50pr,width25pr,width25pr" >

												<h:panelGroup layout="block">
												</h:panelGroup>

												<p:selectOneMenu id="selectOneMenu_HeaderSelectors_Country" value="#{headerController.selectedCountry}" converter="#{headerController.countryConverter}" var="c" immediate="true" style="width: 95%; font-size: 12px;">
													<p:ajax listener="#{headerController.onCountrySelected}" update="selectOneMenu_HeaderSelectors_Language"/>
													<f:selectItems value="#{headerController.countries}" var="country" itemLabel="#{country}" itemValue="#{country}"/>
														<p:column>
															<p:graphicImage value="#{c.countryImage}" width="24" height="24"/>
														</p:column>
														<p:column>
															#{c}
														</p:column>
												</p:selectOneMenu>

												<p:selectOneMenu id="selectOneMenu_HeaderSelectors_Language" value="#{headerController.selectedLanguage}" converter="#{headerController.languageConverter}" var="l" immediate="true"  style="width: 95%; font-size: 12px;">
													<p:ajax listener="#{headerController.onLanguageSelected}" />
													<f:selectItems value="#{headerController.languages}" var="language" itemLabel="#{language}" itemValue="#{language}"/>
													<p:column>
														#{l}
													</p:column>
												</p:selectOneMenu>
											</h:panelGrid>
										</h:panelGroup>

										<h:panelGroup id="panelGroup_HeaderTitleText" layout="block" style="width: 100%; height: 85px; text-align: center; font-size: 60px">
											<!--<h:outputText id="outputText_HeaderTitleText" value="#{CommonPageText.title_mht}"  style="color: red"/>-->
											<h:outputText id="outputText_HeaderTitleText" value="#{PageText.title_mht}"  style="color: red"/>
										</h:panelGroup>

									</h:panelGrid>
								</h:panelGroup>


							</h:panelGrid>
						</h:panelGroup>

						<h:panelGroup layout="block">
						</h:panelGroup>

					</h:panelGrid>

					<h:graphicImage value="resources/img/separator.png"/>

					<h:panelGrid id="panelGridHeaderMenuGrid" style="width: 100%;" columns="3" columnClasses="width5pr,width80pr,width5pr" rowClasses="height100pr">
						<h:panelGroup layout="block">
						</h:panelGroup>
						<h:panelGroup id="panelGridHeaderMenu" layout="block" style="text-align: left; ">
								<h:outputText id="outputTextHeaderMenuText" value="Menu Line" style="vertical-align: middle; "/>
						</h:panelGroup>
						<h:panelGroup layout="block">
						</h:panelGroup>
					</h:panelGrid>

				</h:panelGrid>
			</h:form>

		</ui:composition>

	</h:body>

</html>
