<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC
	"-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h ="http://java.sun.com/jsf/html"
	xmlns:f ="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<body>

		<ui:composition>

			<f:loadBundle basename="org.yvmht.web.page_controller.PageText" var="PageText"/>

			<h:panelGroup id="mainContent" layout="block">
				<h:outputText value="Default Content"/>
			</h:panelGroup>

		</ui:composition>

	</body>

</html>
