<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC
	"-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h ="http://java.sun.com/jsf/html"
	xmlns:f ="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<!--<h:outputStylesheet name="style.less" library="css"/>-->
  		<h:outputStylesheet name="style.css" library="css" />

		<title>YouVote</title>

		<!--<h:outputScript library="primefaces" name="js/jquery.js" target="head" />-->
		<!--<h:outputScript library="primefaces" name="js/jquery.js" target="head" />-->
	</h:head>

	<h:body>

			<f:loadBundle basename="org.yvmht.web.page_controller.PageText" var="PageText"/>

			<h:panelGroup id="page" layout="block">
				<h:panelGrid id="pageContentGrid" columns="1">

					<f:facet name="header">
						<h:panelGroup id="header" layout="block">
							<ui:insert name="header">
								<ui:include src="/templates/commonHeader.xhtml"/>
							</ui:insert>
						</h:panelGroup>
					</f:facet>

					<h:panelGroup id="content" layout="block">
						<ui:insert name="content" >
							<ui:include src="/templates/commonContent.xhtml"/>
						</ui:insert>
					</h:panelGroup>

					<f:facet name="footer">
						<h:panelGroup id="footer" layout="block">
							<ui:insert name="footer" >
								<ui:include src="/templates/commonFooter.xhtml"/>
							</ui:insert>
						</h:panelGroup>
					</f:facet>

				</h:panelGrid>
			</h:panelGroup>

	</h:body>

</html>
